<h1>Routing</h1>
<nav>
    <ul>
        <li><a routerLink="/new-table" routerLinkActive="active">New Table</a></li>
        <li><a routerLink="/links" routerLinkActive="active">Link to google</a></li>
        <li><a routerLink="/nestedlist" routerLinkActive="active">Nested List</a></li>
        <li><a routerLink="/alert" routerLinkActive="active">Alert</a></li>
        <li><a routerLink="/createlist" routerLinkActive="active">Creating List</a></li>
        <li><a routerLink="/leapyear" routerLinkActive="active">Leap Year</a></li>
        <li><a routerLink="/shopping" routerLinkActive="active">Shopping List</a></li>
    </ul>
</nav>

<router-outlet ></router-outlet>